<footer class="footer">
    <div class="footer__container">
        <a href="#" class="footer__logo logo">TorontoPC</a>
        <div class="footer__socials socials">
            <div class="socials__list">
                <a href="tel:+78005555555" class="socials__link">+7 (800) 555-55-55</a>
                <a href="#" class="socials__link">Irkutsk, Lenin Street, 12</a>
            </div>
            <div class="socials__list">
                <a href="https://vk.com/feed" class="socials__link">
                    <i class="fa-brands fa-vk"></i>
                </a>
                <a href="https://instagram.com/" class="socials__link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://youtube.com/" class="socials__link">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>