.welcome {
    margin-bottom: rem(30);

    &__slider {}
}

.configurations {
    margin: rem(20) 0;

    &__container {}

    &__title {
        max-width: 60%;
        margin: 0 auto rem(40) auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        row-gap: rem(25);
        column-gap: rem(50);
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__card {}
}

.products {
    margin: rem(20) 0 rem(40) 0;

    &__container {}

    &__title {
        margin-bottom: rem(40);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: rem(25);
        column-gap: rem(50);
    }
}

.services {
    margin: rem(20) 0 rem(40) 0;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(20);
        margin: rem(20) 0;
    }
}

.reviews {
    padding: rem(30) 0;
    background: #000;

    &__container {}

    &__title {
        color: white;
    }
}