{% extends 'base.html' %}

{% block content %}
<section class="configurations">
    <div class="configurations__container">
        <h2 class="configurations__title title">
            Создаём компьютеры, которые будут дарить геймерам и творческим профессионалам удовольствие от использования.
        </h2>
        <ul class="configurations__list">
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/product/notebook/play/teaser/new_3/hyperpc-play-laptop-15-alt-5.jpg"
                        alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Игровые ноутбуки<a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Мощные и ультратонкие игровые ноутбуки</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">от 122 500 ₽</span>
                            <button class="card__button button">Подробнее</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/content/choice-model-pc/hyperpc-pro-dual-alt.jpg" alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Рабочие станции
                                <a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Профессионалльные решения для работы и творчества</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">от 156 100 ₽</span>
                            <button class="card__button button">Подробнее</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/product/gaming-pc/configurator/hyperpc-teaser-configurator.jpg"
                        alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Конфигуратор ПК
                                <a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Создайте свой компьютер мечты в конфигураторе</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">от 100 000 ₽</span>
                            <button class="card__button button">Подробнее</button>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
{% endblock content %}