{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="welcome">
    <div class="welcome__slider slider-welcome swiper">
        <div class="slider-welcome__wrapper swiper-wrapper">
            <div class="slider-welcome__slide swiper-slide">
                <div class="slider-welcome__image" style="background-image: url({% static 'img/bg.jpg' %});"></div>
                <div class="slider-welcome__container">
                    <div class="slider-welcome__body">
                        <h2 class="slider-welcome__title">Upgrade center</h2>
                        <p class="slider-welcome__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptatibus consequatur
                            nisi illo qui non blanditiis ab. Ratione reprehenderit exercitationem excepturi! Corrupti,
                            modi. Nesciunt asperiores officiis autem illo, quisquam excepturi?
                        </p>
                        <a href="#" class="slider-welcome__button button">For Details</a>
                    </div>
                </div>
            </div>
            <div class="slider-welcome__slide swiper-slide">
                <div class="slider-welcome__image" style="background-image: url({% static 'img/bg2.jpg' %});"></div>
                <div class="slider-welcome__container">
                    <div class="slider-welcome__body">
                        <h2 class="slider-welcome__title">Giveaway from TorontoPC</h2>
                        <p class="slider-welcome__text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem iste repellat eos hic
                            voluptates cum, nobis ratione reiciendis ullam minus totam, rerum dolore iure fugit aperiam
                            nostrum ad ipsum quia?
                        </p>
                        <a href="#" class="slider-welcome__button button">For Details</a>
                    </div>
                </div>
            </div>
            <div class="slider-welcome__slide swiper-slide">
                <div class="slider-welcome__image" style="background-image: url({% static 'img/bg3.jpg' %});"></div>
                <div class="slider-welcome__container">
                    <div class="slider-welcome__body">
                        <h2 class="slider-welcome__title">New Discounts</h2>
                        <p class="slider-welcome__text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores vero enim, maxime eligendi
                            voluptate consequatur autem, architecto nihil, consequuntur facilis nemo? Dolor, facilis.
                            Natus sit ea provident recusandae deserunt totam.
                        </p>
                        <a href="#" class="slider-welcome__button button">For Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-welcome__pagination swiper-pagination"></div>
        <div class="slider-welcome__arrow swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left"
                viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="15 6 9 12 15 18"></polyline>
            </svg>
        </div>
        <div class="slider-welcome__arrow swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right"
                viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="9 6 15 12 9 18"></polyline>
            </svg>
        </div>
    </div>
</section>
<section class="configurations">
    <div class="configurations__container">
        <h2 class="configurations__title title">
            We create computers that give gamers and creative professionals a pleasure to use.
        </h2>
        <ul class="configurations__list">
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/product/notebook/play/teaser/new_3/hyperpc-play-laptop-15-alt-5.jpg"
                        alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Gaming Laptops<a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Powerful and ultra-thin gaming laptops</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">from $1000</span>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/content/choice-model-pc/hyperpc-original-dual-alt.jpg" alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Gaming PC<a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">The best gaming computers TORONTOPC</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">from $1200</span>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image" src="https://hyperpc.ru/images/product/ampere/hyperpc-ampere-mini.jpg"
                        alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Concept computers<a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Exclusive solutions with custom cooling</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">from $3000</span>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/content/choice-model-pc/hyperpc-pro-dual-alt.jpg" alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                Workstations
                                <a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Professional solutions for work and creativity</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">from $1200</span>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
            <li class="configurations__item">
                <article class="configurations__card card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/product/gaming-pc/configurator/hyperpc-teaser-configurator.jpg"
                        alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title">
                                PC configurator
                                <a href="#" class="card__link"></a>
                            </h3>
                            <p class="card__text">Create your dream computer in the configurator</p>
                        </div>
                        <div class="card__actions">
                            <span class="card__price">from $750</span>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
<section class="products">
    <div class="products__container">
        <h2 class="products__title title">
            TorontoPC is amazing design, high performance, impeccable quality and personal service.
        </h2>
        <ul class="products__list">
            <li>
                <article class="products__item card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/content/choice-model-pc/hyperpc-pro-dual-alt.jpg" alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title card__title-medium card__title-upper">
                                Berlin
                            </h3>
                        </div>
                        <div class="card__actions">
                            <button class="card__button button">Configurator</button>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="products__item card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/content/choice-model-pc/hyperpc-pro-dual-alt.jpg" alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title card__title-medium card__title-upper">
                                Toronto
                            </h3>
                        </div>
                        <div class="card__actions">
                            <button class="card__button button">Configurator</button>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="products__item card">
                    <img class="card__image"
                        src="https://hyperpc.ru/images/content/choice-model-pc/hyperpc-pro-dual-alt.jpg" alt="">
                    <div class="card__body">
                        <div class="card__content">
                            <h3 class="card__title card__title-medium card__title-upper">
                                Kyoto
                            </h3>
                        </div>
                        <div class="card__actions">
                            <button class="card__button button">Configurator</button>
                            <button class="card__button button">For Details</button>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
<section class="services">
    <div class="services__container">
        <h2 class="services__title title">Services</h2>
        <ul class="services__list">
            <li>
                <article class="services__item service"
                    style="background-image: url('https://hyperpc.ru/images/content/services/hyperpc-upgrade-title_webp.jpg');">
                    <div class="service__shade"></div>
                    <div class="service__body">
                        <div class="service__content">
                            <div class="service__title">Upgrade Center</div>
                        </div>
                        <div class="service__actions button button-outline">
                            <a href="#">For Details</a>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="services__item service"
                    style="background-image: url('https://hyperpc.ru/images/content/services/hyperpc-service-title_webp.jpg');">
                    <div class="service__shade"></div>
                    <div class="service__body">
                        <div class="service__content">
                            <div class="service__title">Maintenance</div>
                        </div>
                        <div class="service__actions button button-outline">
                            <a href="#">For Details</a>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="services__item service"
                    style="background-image: url('https://hyperpc.ru/images/content/services/hyperpc-repair-title_webp.jpg');">
                    <div class="service__shade"></div>
                    <div class="service__body">
                        <div class="service__content">
                            <div class="service__title">Service Center</div>
                        </div>
                        <div class="service__actions button button-outline">
                            <a href="#">For Details</a>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="services__item service"
                    style="background-image: url('https://hyperpc.ru/images/content/services/hyperpc-customisation-title_webp.jpg');">
                    <div class="service__shade"></div>
                    <div class="service__body">
                        <div class="service__content">
                            <div class="service__title">Modding</div>
                        </div>
                        <div class="service__actions button button-outline">
                            <a href="#">For Details</a>
                        </div>
                    </div>
                </article>
            </li>
            <li>
                <article class="services__item service"
                    style="background-image: url('https://hyperpc.ru/images/content/services/hpc-upgrade-trade-in.jpg');">
                    <div class="service__shade"></div>
                    <div class="service__body">
                        <div class="service__content">
                            <div class="service__title">Trade-In</div>
                        </div>
                        <div class="service__actions button button-outline">
                            <a href="#">For Details</a>
                        </div>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>
<section class="">

</section>
{% endblock content %}